In [121]:
import pandas as pd

In [1]:
numbers  =[1,2,3,4]

In [7]:
numbers = [new_item**2 for new_item in numbers]

In [8]:
numbers

[4, 9, 16, 25]

In [9]:
name = "ABS Hasan"

In [10]:
letters = [letter for letter in name]

In [11]:
letters

['A', 'B', 'S', ' ', 'H', 'a', 's', 'a', 'n']

In [14]:
double = [square *2 for square in range(1,5)]
double

[2, 4, 6, 8]

In [15]:
name = ["ABS","HASAN","Alex","Beth","Caroline","Dave","Elanor","Freddi"]

In [20]:
short_names = [short_name.upper() for short_name in name if len(short_name) <=4]

In [21]:
short_names

['ABS', 'ALEX', 'BETH', 'DAVE']

In [22]:
numbers = [1,1,2,3,5,8,13,21,34,55]

In [25]:
even_number = [e_num for e_num in numbers if e_num % 2 == 0]

In [26]:
even_number

[2, 8, 34]

In [78]:
with open("file1.txt") as file1:
    file1_data = file1.readlines()
    print(file1_data)

['3\n', '6\n', '13\n', '5\n', '7\n', '89\n', '12\n', '33\n', '34\n', '1\n', '344\n', '42\n']

In [79]:
with open("file2.txt") as file2:
    file2_data = file2.readlines()
    print(file2_data)

['3\n', '6\n', '5\n', '8\n', '33\n', '12\n', '7\n', '4\n', '72\n', '2\n', '42\n', '13\n']

In [82]:
list_1 = [int(list3) for list3 in file1_data if list3 in file2_data]

In [83]:
list_1

[3, 6, 13, 5, 7, 12, 33, 42]

#### Dictionary Comprehension

In [85]:
import random
names = ["Alex","Beth","Caroline","Dave","Elanor","Freddi"]

In [96]:
student_scores = {student:random.randint(50,100) for student in names}

In [97]:
student_scores

{'Alex': 83,
 'Beth': 60,
 'Caroline': 61,
 'Dave': 68,
 'Elanor': 52,
 'Freddi': 75}

In [98]:
# Looping through dictionary
passed_students = { student:score for (student, score) in student_scores.items() if score >=60}

In [99]:
passed_students

{'Alex': 83, 'Beth': 60, 'Caroline': 61, 'Dave': 68, 'Freddi': 75}

In [100]:
sentence = "What is the Airspeed Velocity of an Unladen Swallow"

In [107]:
result = {value:len(value) for value in sentence.split()}

In [108]:
result

{'What': 4,
 'is': 2,
 'the': 3,
 'Airspeed': 8,
 'Velocity': 8,
 'of': 2,
 'an': 2,
 'Unladen': 7,
 'Swallow': 7}

In [109]:
weather_c = {
    "Monday" : 12,
    "Tuesday" : 14,
    "Wednesday" : 15,
    "Thursday" : 14,
    "Friday" : 21,
    "Saturday" : 22,
    "Sunday" : 24,
}

In [117]:
weather_f = {days:((temp_c * 9/5) + 32) for (days,temp_c) in weather_c.items()} 
weather_f

{'Monday': 53.6,
 'Tuesday': 57.2,
 'Wednesday': 59.0,
 'Thursday': 57.2,
 'Friday': 69.8,
 'Saturday': 71.6,
 'Sunday': 75.2}

##### How to iterate over a pandas dataframe

In [119]:
student_dic = {
    "student":["Alex","Beth","Caroline"],
    "score" : [56,76,98]}

In [123]:
student_dataframe = pd.DataFrame(student_dic)
student_dataframe

    student  score
0      Alex     56
1      Beth     76
2  Caroline     98

In [127]:
for key, value in student_dataframe.items():
    print(key)
    print()
    print(value)

student

0        Alex
1        Beth
2    Caroline
Name: student, dtype: object
score

0    56
1    76
2    98
Name: score, dtype: int64

In [136]:
for (index, row) in student_dataframe.iterrows():
    if row.student == "Alex":
        print(row.score)
        print()
    print(index)
    print(row)
    print(row.student)
    print(row.score)
    print()

56

0
student    Alex
score        56
Name: 0, dtype: object
Alex
56

1
student    Beth
score        76
Name: 1, dtype: object
Beth
76

2
student    Caroline
score            98
Name: 2, dtype: object
Caroline
98

In [140]:
data = pd.read_csv("Data/nato_phonetic_alphabet.csv")
data.head(2)

  letter   code
0      A   Alfa
1      B  Bravo

In [142]:
for (index , row) in data.iterrows():
    print(row.code)
    print(row.letter)

Alfa
A
Bravo
B
Charlie
C
Delta
D
Echo
E
Foxtrot
F
Golf
G
Hotel
H
India
I
Juliet
J
Kilo
K
Lima
L
Mike
M
November
N
Oscar
O
Papa
P
Quebec
Q
Romeo
R
Sierra
S
Tango
T
Uniform
U
Victor
V
Whiskey
W
X-ray
X
Yankee
Y
Zulu
Z

In [143]:
new_dict = {row.letter:row.code for (index, row) in data.iterrows()}

In [144]:
new_dict

{'A': 'Alfa',
 'B': 'Bravo',
 'C': 'Charlie',
 'D': 'Delta',
 'E': 'Echo',
 'F': 'Foxtrot',
 'G': 'Golf',
 'H': 'Hotel',
 'I': 'India',
 'J': 'Juliet',
 'K': 'Kilo',
 'L': 'Lima',
 'M': 'Mike',
 'N': 'November',
 'O': 'Oscar',
 'P': 'Papa',
 'Q': 'Quebec',
 'R': 'Romeo',
 'S': 'Sierra',
 'T': 'Tango',
 'U': 'Uniform',
 'V': 'Victor',
 'W': 'Whiskey',
 'X': 'X-ray',
 'Y': 'Yankee',
 'Z': 'Zulu'}

In [148]:
ipt = "ABS"

In [147]:
new_dict['A']

'Alfa'

In [150]:
# result = 
for value in ipt:
    print(new_dict[value])

Alfa
Bravo
Sierra

In [152]:
result

['Alfa', 'Bravo', 'Sierra']